@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@100..800&display=swap');
.global-header{
    width: 100%;
    background-color: 
}

.gnav-link{
    text-decoration: none;
    color: black;
}
.global-header__inner{
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 700px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.global-header-title-wrap{
    
    height: 70px;
}
.global-header__title{
    color: black;
    font-size: 30px;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;

}

.header__subtitle{
    color: black;
    font-size: 13px;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
    margin-top: 20px;
}
.gnav{
    width: 370px;
}

.gnav-img{
    width: 30%;
}
.gnav__menu{
    display: flex;
    justify-content: space-between;
}
.gnav__list a:link,.gnav__list a:visited{
    color: #fff;
    text-decoration: none;
}
.gnav__list a:hover{
    color: aqua;
}
.gnav__list{
    font-size: 13px;
    font-weight: bold;
}
.contents{
    width: 80%;
    margin: 50px auto 0 auto;
    max-width: 1200px;
    min-width: 700px;
    display: flex;
    justify-content: space-between;   
}
.contents__box{
    width: 30%;
}
.contents__title{
    font-size: 20px;
    font-weight: bold;
    border-left: 14px #909BFF solid;
    padding: 5px;
    margin-bottom: 13px;
}
.global-footer{
    width: 100%;
    height: 50px;
}
.copy{
    text-align: center;
    line-height: 50px;

}

.home-img-wrap{
    display: flex;
    justify-content: center;
    padding: 100px;
}


.home-main-img{
    width: 100%;
}
/* worksページ */
.main-title{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin: 60px 0;
    }
    .main-works{
     width: 80%;
     max-width: 1200px;
     min-width: 700px;
     margin: 0 auto;   
    }
    .works{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .works__list{
        margin: 0 10px 30px;
        width: 30%;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .works__list.landscape{
        width: 45%;
    }
        
        
.profile {
    display: flex;
    align-items: center;
}
.profile-img{
    margin: 0 20px;
    width: 50%;
    img{
        width: 100%;
        margin: auto;
    }
}
.profile-text{
    width: 50%;
    margin: 0 auto;
    p{
        margin-bottom: 20px;
    }
}

.form{
    width: 50%;
    margin: 0 auto;
    button {
        width: 100px;
        height: 40px;
        background-color: #EE5252;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin: auto;
        display: block;
    }
}
.form-item{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    label{
        width: 120px;
        display: flex;
    }
    input{
        width: 300px;
        height: 20px
    }
    textarea{
        width: 300px;
        height: 100px;
    }
}

.work{
    width: 100%;
    height: 100%;
    display: flex;
    margin: 30px 50px 0;
    img{
        width: 30%;
    }
    p{
        width: 50%;
        margin: 20px;
    }
    span{
        font-weight: bold;
        font-size: large;
        display: block;
        margin-bottom: 10px;
    }
}

.multi-image{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    img{
        display: block;
        height: 50%;
        margin-right: 20px;
    }
}

.top{
    width: 100%;
    position: relative;
    p{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 60px;
        font-weight: bold;
        color: white;
        letter-spacing: 10px;
    }
    img{
        width: 100%;
    }
}
.name{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 60px 0;
}